body {
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  width: 100%;
  height: 60px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header nav .nav-right-section {
  width: 250px;
  height: inherit;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

header nav .nav-right-section li a {
  margin-right: 10px;
  color: #000000;
}

.menu-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.menu-icon a {
  width: auto;
  height: auto;
}

nav .nav-right-section img {
  border-radius: 50%;
  margin-left: 10px;
}

.main {
  margin: 0px;
  padding: 0px;
  background-color: grey;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: khaki;
}